{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Cointoss | Wallet</title>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/solar/bootstrap.min.css" rel="stylesheet" integrity="sha384-8nq3OiMMgrVFAHyRMMO+DTfMEciSY+c3Awhj/5ljQ1xck1Uv2BUtMjsjLD8GT5Er" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cointoss</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Wallet</a>
      </ul>
    </div>
  </nav>

	<br/>
	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Currency</th>
	      <th scope="col">Balance</th>
	      <th scope="col">Address</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Bitcoin</td>
	      <td>{{ btc_balance }} BTC</td>
	      <td><a href="#view-bitcoin" data-toggle="modal">View Address</a></td>
	    </tr>
	    <tr>
	      <td>Monero</td>
	      <td>0 XMR</td>
	      <td><a href="#view-monero">View Address</a></td>
	    </tr>
	    <tr>
	      <td>Aeon</td>
	      <td>0 AEON</td>
	      <td><a href="#view-aeon">View Address</a></td>
	    </tr>
	  </tbody>
	</table>
	<br/>
	<button type="button" class="btn btn-primary btn-lg btn-block">Withdraw Bitcoin</button>
	<button type="button" class="btn btn-primary btn-lg btn-warning btn-block">Withdraw Monero</button>
	<button type="button" class="btn btn-primary btn-lg btn-success btn-block">Withdraw Aeon</button>



	<div class="modal fade" id="view-bitcoin" tabindex="-1" role="dialog" aria-labelledby="view-bitcoinLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="view-bitcoinLabel">Bitcoin Address</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p><b>Public: </b>{{ btc_public }}</p>
	        <p><b>Private: </b> <p class="spoiler">{{ btc_private }}</p></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>